body {
    font-family: Verdana;
    padding: 40px;
    background-color: #C7F3FF;
}

h1, h3 {
    color: #00204E;
}

.common-page-heading-container {
    text-align: center;
    margin: 20px auto;
}

.common-page-form {
    border: 2px solid #00204E;
    border-radius: 20px;
    padding: 20px;
    margin: 20px auto;
}
.common-page-form select, .common-page-form input {
    background-color: beige;
    border-radius: 5px;
    border-color: transparent;
}

.common-page-form-field {
    margin: 2px auto;
}

.common-page-submit-btn {
    margin-top: 20px;
}

.common-page-visit-btn {
    background-color: #00204E; 
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.timetable::before {
    font-family: 'FontAwesome';
    content: '\f073';
    padding-right: 10px;
}

.degree::before {
    font-family: 'FontAwesome';
    content: '\f19d';
    padding-right: 10px;
}